* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.slogan {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #262A3F;
}

.title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #262A3F;
}

.subtitle {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  color: #262A3F;
}

.text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.text--selection {
  font-style: italic;
  color: #85BBB1;
}

.btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F1897B;
  display: block;
  text-decoration: none;
  position: relative;
}
.btn:hover {
  color: #262A3F;
}

body {
  background: #ffffff;
}
body::after {
  content: "";
  background-image: url(/project_1/assets/hero.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
  min-height: 1200px;
}
@media screen and (max-width: 767px) {
  body::after {
    width: 100vw;
  }
}

.header {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 30px 0;
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.header__switcher {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.header__switcher--background {
  background-color: rgba(38, 42, 63, 0.3);
  padding: 7px;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.nav__link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262A3F;
  text-decoration: none;
  display: inline-block;
}
.nav__link:hover {
  color: #F1897B;
}
.nav__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.hero__container {
  margin-bottom: 280px;
}
@media screen and (max-width: 767px) {
  .hero__container {
    text-align: center;
    margin-bottom: 100px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 220px;
}
@media screen and (max-width: 767px) {
  .hero__content {
    width: 100%;
  }
}
.hero__slogan {
  margin-bottom: 25px;
}
.hero__text {
  margin-bottom: 50px;
}
.hero__btn {
  position: relative;
}
.hero__btn:after {
  content: "";
  width: 112px;
  height: 13px;
  background: #F1897B;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 11px;
  left: 8px;
}

.about {
  position: relative;
  margin-bottom: 240px;
}
.about::before {
  content: url(/project_1/assets/about.png);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0px;
  left: 100px;
  z-index: -1;
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 90px;
}
.about__content {
  display: flex;
  flex-direction: row;
  width: 70%;
  background: #ffffff;
  opacity: 0.9;
}
.about__titles {
  width: 50%;
  text-align: center;
}
.about__item {
  position: relative;
}
.about__item--border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #85BBB1;
  width: 82px;
  left: 170px;
  bottom: -40px;
}
.about__subtitle {
  margin-bottom: 12px;
  padding-top: 30px;
}
.about__text--left {
  margin-bottom: 25px;
}
.about__description {
  width: 50%;
  margin: auto auto;
}
.about__text--right {
  margin-bottom: 40px;
  padding-right: 75px;
}
.about__btn:after {
  content: "";
  width: 172px;
  height: 13px;
  background: #F1897B;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 11px;
  left: 8px;
}
.about__item div:last-of-type .about__item::after {
  border-right: none;
}

.benefits {
  margin-bottom: 50px;
}
.benefits__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .benefits__container {
    display: flex;
    flex-direction: column;
  }
}
.benefits__item {
  width: 45%;
  padding-top: 30px;
  border-top: 1px solid #E4E4E4;
}
@media screen and (max-width: 767px) {
  .benefits__item {
    width: 100%;
  }
}
.benefits__slogan {
  margin-bottom: 25px;
}
.benefits__text {
  margin-bottom: 140px;
  padding-right: 55px;
}

.quote {
  margin-bottom: 150px;
}
.quote__container {
  background-image: url(/project_1/assets/quote-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.quote__container::after {
  content: url(/project_1/assets/quote-icon.png);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  height: 100px;
  top: 70px;
  left: 80px;
}
.quote__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 110px 400px 0 130px;
  margin-bottom: 40px;
}
.quote__author {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  padding-left: 130px;
  padding-bottom: 110px;
}

.tablet {
  position: relative;
  margin-bottom: 120px;
}
.tablet::after {
  content: url(/project_1/assets/tablet.png);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  left: 300px;
  z-index: -1;
}
.tablet__container {
  text-align: center;
}
.tablet__video {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.trading {
  position: relative;
  margin-bottom: 150px;
}
.trading::before {
  content: url(/project_1/assets/trading.png);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0px;
  left: 100px;
  z-index: -1;
}
.trading__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.trading__content {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  background: #ffffff;
  opacity: 0.9;
  margin-top: 50px;
}
.trading__item {
  padding: 45px 0 65px 50px;
  width: 50%;
}
.trading__item--btn {
  padding-top: 95px;
  margin-left: 120px;
}
.trading__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #262A3F;
  margin-bottom: 15px;
}
.trading__text {
  padding-right: 50px;
}
.trading__btn {
  border: 1px solid #E4E4E4;
  padding: 35px 95px;
}
.trading__btn:after {
  content: "";
  width: 112px;
  height: 13px;
  background: #F1897B;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 45px;
  left: 110px;
}
.trading__btn:hover {
  background-color: #F1897B;
  border: 1px solid #262A3F;
}

.reviews {
  margin-bottom: 200px;
  text-align: center;
}
.reviews__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.reviews__slogan {
  margin-bottom: 20px;
}
.reviews__text {
  margin-bottom: 40px;
}
.reviews__item {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.reviews__item--first {
  background-image: url(/project_1/assets/review1.png);
}
.reviews__item--second {
  background-image: url(/project_1/assets/review2.png);
}
.reviews__item--third {
  background-image: url(/project_1/assets/review3.png);
}
.reviews__item::after {
  content: "";
  background: rgba(25, 28, 41, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.reviews__quote {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding: 40px 40px 15px 40px;
  z-index: 2;
}
.reviews__autor {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding: 0 40px 40px 40px;
  z-index: 2;
}

.footer__container {
  border-top: 1px solid #E4E4E4;
}
.footer__content {
  display: flex;
  flex-direction: row;
  margin-bottom: 130px;
  justify-content: space-between;
  padding-top: 120px;
  gap: 350px;
}
.footer__left {
  width: 50%;
}
.footer__slogan {
  margin-bottom: 20px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer__btn:after {
  content: "";
  width: 163px;
  height: 13px;
  background: #F1897B;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 11px;
  left: 11px;
}
.footer__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
.footer__desc {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.6;
}
.input {
  border: none;
  padding: 12px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #E4E4E4;
  width: 460px;
}
.input::-moz-placeholder {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  opacity: 0.5;
}
.input:-ms-input-placeholder {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  opacity: 0.5;
}
.input::placeholder {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  opacity: 0.5;
}

.video {
  margin-top: 30px;
  margin-right: 40px;
  width: 780px;
  height: 480px;
  border: 1px solid #E4E4E4;
}
/*# sourceMappingURL=style.css.map */