@use "variables" as *;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Montserrat";
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  margin: auto 0;
  &__link {
    padding: 15px;
  }

  &__icon {
    fill: $tomato;
    width: 180px;
    height: 35px;
  }
}

// Fonts

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: $brown-ligth;
  margin-bottom: 60px;
  max-width: 400px;
}

.heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: $black;
}

.description {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  margin-bottom: 10px;
  max-width: 205px;
}

.price__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $black;
}

.btn__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $black;
}

.btn {
  border: 1px solid $black;
  padding: 15px 60px;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    background-color: $tomato-light;
    border: 1px solid transparent;
  }

  &:hover > .btn__text {
    color: $brown-ligth;
  }
}

.btn__text--white {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $white;
}

.btn--white {
  border: 1px solid $white;
  padding: 15px 60px;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    background-color: $tomato-light;
    border: 1px solid transparent;
  }

  &:hover > .btn__text--white {
    color: $brown-ligth;
  }
}

// Header

.header {
  background-color: $brown-ligth;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }

  &__logo {
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    padding: 30px 5px;
    color: $black;
    min-width: 120px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $tomato-light;
    }

    &:hover > .nav__link {
      color: $brown-ligth;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: $black;
    padding: 10px;
  }
}

.panel {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    &:hover {
      fill: $tomato-light;
    }
  }

  &__icon {
    fill: black;
    width: 36px;
    height: 36px;
  }

  &__link {
    padding: 5px;
    &:hover > .panel__icon {
      fill: $tomato-light;
    }
  }
}

// Main

// Hero

.hero {
  margin-bottom: 70px;
  &__container {
    float: right;
    text-align: center;
    padding: 120px 100px 0 0;
    margin: 0 auto;
    max-width: 33%;
  }

  &__splide--slide {
    height: 100vh - 10vh;
    }

  &__splide--img {
    box-shadow: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%);
    width: 100%;
  }
}

.splide__pagination {
  gap: 30px;
  bottom: 20px;
}

.splide__pagination__page.is-active {
	background: $tomato-light;
	transform: none;
}

.splide__pagination__page {
	width: 20px;
	height: 20px;
	background: $dot-inactive;
}


// New Arivals

.arivals {
  margin-bottom: 80px;
  &__container {
    margin: 0 auto;
    text-align: center;
  }

  &__heading {
    margin-bottom: 70px;
  }

  &__splide {
    max-width: 85%;
    margin: 0 auto;
  }

  &__splide--list {
    display: flex;
    flex-direction: row;
  }

  // &__splide--track {
  //   margin-bottom: 80px;
  // }

  &__splide--slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid $brown-ligth;
    padding: 20px 5px;
    transition: all 0.5s ease-in-out;
    &:hover {
      border: 2px solid $tomato-light;
    }
  }
}

.splide__arrow--prev svg {
	transform: none;
}

.splide__arrow {
	background: transparent;
	width: auto;
	height: auto;
	opacity: 1;

	&:hover svg {
		fill: $tomato-light;
		opacity: 1;
		transition: fill 0.3s;
	}

	svg {
		fill: $arrow-inactive;
		width: 16px;
		height: 30px;
	}
}

.splide__arrow--prev {
	left: -25px;
}
.splide__arrow--next {
	right: -25px;
}

// Out Partners

.partners {
  background-color: $brown-ligth;
  &__container {
    margin: 0 auto;
    text-align: center;
  }

  &__heading {
    color: $black;
    margin-bottom: 60px;
    padding-top: 70px;
  }

  &__splide--track {
    margin-bottom: 100px;
  }

  &__splide--list {
    display: flex;
    flex-direction: row;
  }

  &__splide--slide {
    width: 114px;
    height: 65px;
    text-align: center;
  }

  &__splide--img {
  }
}




